h1 {
  background-color: blue;
  padding: 20px;
  margin: 0 0 10px 0;
  color: white;
  font-family: monospace;
}

div.service {
  margin: 2px;
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  font-family: sans-serif;
}


div.service > button {
  padding: 4px;
  color: black;
  background-color: white;
  margin-right: 10px;
}

div.service.running {
  background-color: green;
  font-weight: bold;
  color: lightgoldenrodyellow;
}

div.service:nth-child(odd) {
  background-color:antiquewhite;
}
div.service.running:nth-child(odd) {
  background-color: green;
}
div.running button { 
  background-color:black;
  color:white;
  font-weight:bold;
}
